<h2>The Water Cooler</h2>
<div id="chat-box">
  <%= for message <- @messages do %>
    <p><b><%= message.name %>:</b> <%= message.body %></p>
  <% end %>
</div>

<form id="chat-form">
  <input type="text" placeholder="Username" id="user-name"></input>
  <textarea placeholder="Your comment" id="user-msg"></textarea>
  <button type="submit">Post</button>
</form>
